
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>

<title>Home</title>
<meta name="format-detection" content="telephone=no"/>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"431b0b70af309a73001f241f00ba12f6",petok:"b06f7b52dae4030b9e1dcc008dccd81050ee0314-1454692552-86400",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"},"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}},sha2test:0}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=38857570ac/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link rel="icon" href="/static/main/images/favicon.ico" type="image/x-icon">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,900%7CMontserrat:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/main/css/style.css">
<script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7078796-5']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
</script>
</head>
<body>

<div class="page text-center">

<header class="page-header">

<div class="rd-navbar-wrap">
<nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-sidebar">

<div class="rd-navbar-brand">
<a href="#home" data-waypoint-to="#home" class="brand-name text-secondary">
<span class="text-ebold">H</span>
</a>
</div>

<div class="rd-navbar-inner">

<div class="rd-navbar-panel">

<button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>

</div>

<div class="rd-navbar-nav-wrap">

<ul class="rd-navbar-nav">
<li class="active">
<a href="#home">
<span class="icon icon-xs icon-secondary material-icons-lens"></span>
<span>Home</span>
</a>
</li>
<li>
<a href="#about">
<span class="icon icon-xs icon-secondary material-icons-lens"></span>
<span>About</span>
</a>
</li>
<li>
<a href="#rooms">
<span class="icon icon-xs icon-secondary material-icons-lens"></span>
<span>Rooms</span>
</a>
</li>
<li>
<a href="#services">
<span class="icon icon-xs icon-secondary material-icons-lens"></span>
<span>Services</span>
</a>
</li>
<li>
<a href="#reservation" data-waypoint-to="#reservation">
<span class="icon icon-xs icon-secondary material-icons-lens"></span>
<span>Reservation</span>
</a>
</li>
<li>
<a href="#contacts">
<span class="icon icon-xs icon-secondary material-icons-lens"></span>
<span>Contacts</span>
</a>
</li>
</ul>

</div>
</div>
</nav>
</div>

</header>

<main class="page-content">

<section id="home">

<div class="swiper-container swiper-slider" data-height="100vh" data-autoplay="false">
<div class="swiper-wrapper">
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-1_slide01.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-1_slide02.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-1_slide03.jpg">
</div>
</div>

<div class="swiper-button-prev">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-button-next">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-caption">
<div class="container">
<h1 class="brand">Hotel</h1>
<h3>in downtown new york</h3>
<a class="btn btn-md btn-primary" href="#" data-waypoint-to="#reservation" data-text="Make a reservation">
<span>
make a reservation
</span>
</a>
<div class="box">
<div class="box__left">
<span class="icon icon-primary icon-sm material-icons-location_on"></span>
</div>
<div class="box__body">
<address>
<a href="#">28 Jackson Blvd Ste 1020 New York IL 60604-2340</a>
</address>
</div>
</div>
</div>
</div>
</div>
</section>


<section id="about" class="bg-primary well-sm">
<div class="container">
<h3>Luxury hotel that will let you
step into celebrity’s slippers</h3>
<p>Each room at our hotel is decorated with great taste. Designers’ solutions will impress you greatly.
Each and every trifle is here for your comfort. Room service personnel is perfectly trained.</p>
<div class="row">
<div class="col-xs-6 col-md-3 product wow fadeInLeft" data-wow-delay="0.2s">
<span class="icon icon-xl icon-primary hotel-icon-02"></span>
<p><a href="#">Reception</a></p>
</div>
<div class="col-xs-6 col-md-3 product wow fadeInLeft">
<span class="icon icon-xl icon-primary hotel-icon-14"></span>
<p><a href="#">Breakfast</a></p>
</div>
<div class="col-xs-6 col-md-3 product wow fadeInRight">
<span class="icon icon-xl icon-primary hotel-icon-20"></span>
<p><a href="#">Digital TV</a></p>
</div>
<div class="col-xs-6 col-md-3 product wow fadeInRight" data-wow-delay="0.2s">
<span class="icon icon-xl icon-primary hotel-icon-18"></span>
<p><a href="#">Mini bar</a></p>
</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-3 product wow fadeInLeft" data-wow-delay="0.2s">
<span class="icon icon-xl icon-primary hotel-icon-33"></span>
<p><a href="#">Air conditioning</a></p>
</div>
<div class="col-xs-6 col-md-3 product wow fadeInLeft">
<span class="icon icon-xl icon-primary hotel-icon-21"></span>
<p><a href="#">Wi-fi</a></p>
</div>
<div class="col-xs-6 col-md-3 product wow fadeInRight">
<span class="icon icon-xl icon-primary hotel-icon-22"></span>
<p><a href="#">In-room safe</a></p>
</div>
<div class="col-xs-6 col-md-3 product wow fadeInRight" data-wow-delay="0.2s">
<span class="icon icon-xl icon-primary hotel-icon-04"></span>
<p><a href="#">Housekeeping</a></p>
</div>
</div>
</div>
</section>


<section id="rooms" class="relative bg-secondary" data-type="accordion">

<div class="rd-material-tabs">
<div class="rd-material-tabs__list">
<ul>
<li><a href="#">Luxury</a></li>
<li><a href="#">Junior</a></li>
<li><a href="#">Economy</a></li>
</ul>
</div>
<div class="rd-material-tabs__container">
<div>

<div class="swiper-container swiper-slider" data-height="100vh" data-autoplay="false">
<div class="swiper-wrapper">
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide01.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide02.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide03.jpg">
</div>
</div>

<div class="swiper-button-prev">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-button-next">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-caption">
<div class="container">
<h3>LUXURY</h3>
<div class="box pricing-box">
<div class="box__body">
<p>$289</p>
</div>
<div class="box__right">
<p>/ day</p>
</div>
</div>
<p class="inset-1">Double room 26.7 sq m (292 sq ft) on average and a 5.4 sq m bathroom (most bathrooms
equipped with a bidet).</p>
<a class="btn btn-md btn-primary offset-1" href="#" data-waypoint-to="#reservation" data-text="Make a reservation">
<span>
make a reservation
</span>
</a>
</div>
</div>
</div>

</div>
<div>

<div class="swiper-container swiper-slider" data-height="100vh">
<div class="swiper-wrapper">
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide04.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide05.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide06.jpg">
</div>
</div>

<div class="swiper-button-prev">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-button-next">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-caption">
<div class="container">
<h3>JUNIOR</h3>
<div class="box pricing-box">
<div class="box__body">
<p>$100</p>
</div>
<div class="box__right">
<p>/ day</p>
</div>
</div>
<p class="inset-1">(2 persons +1 bed), gallery area, double bedroom, a living room, with a balcony
overlooking the outdoor pool</p>
<a class="btn btn-md btn-primary offset-1" href="#" data-waypoint-to="#reservation" data-text="Make a reservation">
<span>
make a reservation
</span>
</a>
</div>
</div>
</div>

</div>
<div>

<div class="swiper-container swiper-slider" data-height="100vh">
<div class="swiper-wrapper">
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide07.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide08.jpg">
</div>
<div class="swiper-slide" data-slide-bg="/static/main/images/slider-2_slide09.jpg">
</div>
</div>

<div class="swiper-button-prev">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-button-next">
<div class="nav__img"></div>
<span class="icon icon-primary icon-lg material-icons-trending_flat"></span>
</div>
<div class="swiper-caption">
<div class="container">
<h3>Economy</h3>
<div class="box pricing-box">
<div class="box__body">
<p>$59</p>
</div>
<div class="box__right">
<p>/ day</p>
</div>
</div>
<p class="inset-1">Simpler than the standard room but with all the necessary amenities. Every room is
simply furnished and decorated and equipped with refrigerator, TV and bathroom.</p>
<a class="btn btn-md btn-primary offset-1" href="#" data-waypoint-to="#reservation" data-text="Make a reservation">
<span>
make a reservation
</span>
</a>
</div>
</div>
</div>

</div>
</div>
</div>

</section>


<section id="services" class="bg-secondary well-xs">
<div class="container">
<h3>additional services</h3>
<p>With a prime location, there is no better place to relax after a hard day's…relaxing. A spectacular
view is complemented by the stunning new bars, and beautifully restored historic building. Relaxed
welcoming service, great food, cold beer, and an impeccable wine list, make Hotel the perfect place
to stop. Tastefully appointed, air-conditioned accommodation, makes it the perfect place to
stay. </p>
</div>

<div class="owl-carousel" data-stage-padding="20px" data-sm-stage-padding="0" data-items="1" data-sm-items="2" data-md-items="3" data-nav="true">
<div class="owl-item product product--skin-1">
<img src="/static/main/images/page-1_img01.jpg" width="650" height="360" alt=""/>
<div class="product__cnt">
<span class="icon icon-xl icon-primary hotel-icon-16"></span>
<p><a href="#">Restaurant</a></p>
</div>
</div>
<div class="owl-item product product--skin-1">
<img src="/static/main/images/page-1_img02.jpg" width="650" height="360" alt=""/>
<div class="product__cnt">
<span class="icon icon-xl icon-primary hotel-icon-24"></span>
<p><a href="#">Pool</a></p>
</div>
</div>
<div class="owl-item product product--skin-1">
<img src="/static/main/images/page-1_img03.jpg" width="648" height="360" alt=""/>
<div class="product__cnt">
<span class="icon icon-xl icon-primary hotel-icon-23"></span>
<p><a href="#">Health club</a></p>
</div>
</div>
<div class="owl-item product product--skin-1">
<img src="/static/main/images/page-1_img04.jpg" width="648" height="360" alt=""/>
<div class="product__cnt">
<span class="icon icon-xl icon-primary hotel-icon-26"></span>
<p><a href="#">Parking</a></p>
</div>
</div>
</div>

</section>


<section class="well-md bg-contrast-variant-1">
<div class="container">
<h3>testimonials</h3>
<div class="row text-sm-left">
<div class="col-sm-4 wow fadeInLeft">

<blockquote class="quote postfix-1">
<p><q>Thanks a lot for the quick response. I was really impressed, your service is
excellent!! Your competence is justified!!</q></p>
<p class="text-bold"><cite>Bernard Show</cite></p>
</blockquote>

</div>
<div class="col-sm-4 wow fadeIn">

<blockquote class="quote postfix-1">
<p><q>I just don't know how to describe your services... They are extraordinary! I am quite
happy with them! Just keep up going this way!</q></p>
<p class="text-bold"><cite>Michael Ventura</cite></p>
</blockquote>

</div>
<div class="col-sm-4 wow fadeInRight">

<blockquote class="quote postfix-1">
<p><q>Thank you very much. I’m impressed with your service. I’ve already told my friends
about your hotel, thanks again!</q></p>
<p class="text-bold"><cite>Sarah Cole</cite></p>
</blockquote>

</div>
</div>
</div>
</section>


<section id="reservation" class="bg-primary well-sm well-sm--inset-1">
<div class="container">
<h3>Reservation</h3>

<form class='rd-mailform' method="post" action="bat/rd-mailform.php">

<input type="hidden" name="form-type" value="order"/>

<fieldset>
<div class="row form-groups">
<div class="form-group col-sm-6 col-md-4">
<label data-add-placeholder>
<input placeholder="Name" type="text" name="name" data-constraints="@NotEmpty @LettersOnly"/>
</label>
</div>
<div class="form-group col-sm-6 col-md-4">
<label data-add-placeholder>
<input placeholder="E-mail" type="text" name="email" data-constraints="@NotEmpty @Email"/>
</label>
</div>
<div class="form-group col-sm-6 col-md-4">
<label data-add-placeholder>
<input placeholder="Phone" type="text" name="phone" data-constraints="@Phone"/>
</label>
</div>
<div class="form-group col-sm-6 col-md-3">
<label data-add-placeholder>
<select name="Room type" data-constraints="@SelectRequired">
<option>Room type</option>
<option>Luxury</option>
<option>Junior</option>
<option>Economy</option>
</select>
</label>
</div>
<div class="form-group col-sm-6 col-md-3">
<label data-add-placeholder data-add-icon>
<input type="date" name="date" data-placeholder="Check-in date" data-constraints="@Date"/>
</label>
</div>
<div class="form-group col-sm-6 col-md-3">
<label data-add-placeholder data-add-icon>
<input type="date" name="date" data-placeholder="Check-out date" data-constraints="@Date"/>
</label>
</div>
<div class="form-group col-sm-6 col-md-3">
<label data-add-placeholder>
<select name="Persons" data-constraints="@SelectRequired">
<option>Persons</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
</select>
</label>
</div>
<div class="form-group col-md-12 btn-wr text-center">
<button class="btn btn-md btn-secondary" type="submit" data-text="Reserve now"><span>Reserve now</span>
</button>
</div>
</div>
<div class="mfInfo"></div>
</fieldset>
</form>

</div>
</section>


<div class="rd-google-map">
<div id="google-map" class="rd-google-map__model" data-zoom="10" data-x="-74.008592" data-y="40.682597">
</div>
<ul class="rd-google-map__locations">
<li data-x="-73.9994068" data-y="40.643180" data-basic="/static/main/images/gmap_marker.png" data-active="/static/main/images/gmap_marker_active.png">
<p>28 Jackson Blvd Ste 1020 New York IL 60604-2340<span>800 2345-6789</span></p>
</li>
</ul>
</div>


<section id="contacts" class="bg-contrast-variant-1 well-sm well-sm--inset-2">
<div class="container">
<h3>Contacts</h3>

<form class='rd-mailform' method="post" action="bat/rd-mailform.php">

<input type="hidden" name="form-type" value="contact"/>

<fieldset>
<div class="row">
<div class="col-sm-6 col-md-4">
<label data-add-placeholder>
<input type="text" name="name" placeholder="Name" data-constraints="@NotEmpty @LettersOnly"/>
</label>
</div>
<div class="col-sm-6 col-md-4">
<label data-add-placeholder>
<input type="text" name="email" placeholder="E-mail" data-constraints="@NotEmpty @Email"/>
</label>
</div>
<div class="co-sm-12 col-md-4">
<label data-add-placeholder>
<input type="text" name="phone" placeholder="Phone" data-constraints="@Phone"/>
</label>
</div>
</div>
<label data-add-placeholder>
<textarea name="message" placeholder="Message" data-constraints="@NotEmpty"></textarea>
</label>
<div class="mfControls btn-group text-center">
<button class="btn btn-md btn-primary" type="submit" data-text="Send"><span>Send</span>
</button>
</div>
<div class="mfInfo"></div>
</fieldset>
</form>

</div>
</section>

</main>

<footer class="page-footer bg-secondary">
<div class="container well-lg">
<h1 class="brand wow fadeIn"><a href="">Hotel</a></h1>
<div class="box">
<div class="box__left">
<span class="icon icon-primary icon-sm material-icons-location_on"></span>
</div>
<div class="box__body">
<address>
<a href="#">28 Jackson Blvd Ste 1020 New York IL 60604-2340</a>
</address>
</div>
</div>
<p>
<a href="callto:#"><span class="icon icon-primary icon-sm material-icons-phone"></span>
800-2345-6789</a>
</p>
<ul class="inline-list">
<li><a href="#" class="icon icon-secondary icon-sm fa-facebook"></a></li>
<li><a href="#" class="icon icon-secondary icon-sm fa-twitter"></a></li>
<li><a href="#" class="icon icon-secondary icon-sm fa-google-plus"></a></li>
</ul>
<p class="wow fadeInUp">&copy; <span id="copyright-year"></span>. All Rights Reserved</p>

</div>
</footer>
</div>

<script src="js/core.min.js"></script>

<script src="js/script.js"></script>

<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
        f[z]=function(){
            (a.s=a.s||[]).push(arguments)};var a=f[z]._={
        },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
            f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
            0:+new Date};a.P=function(u){
            a.p[u]=new Date-a.p[0]};function s(){
            a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
            hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
            return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
            b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
            b.contentWindow[g].open()}catch(w){
            c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
            var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
            b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
        loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('7830-582-10-3714');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>


<script type="text/javascript">/* CloudFlare analytics upgrade */
</script>
</body>
</html>